.bg-secondary {
    background-color: #141414 !important;
  }
  
  .copyright {
    background-color: #98D2EB;
  }
  
  .bg-primary {
    background-color: #EEC643 !important;
  }
  
  nav{
    font-weight: 700;
  }
  
  .img-card{
    height: 18vw;
    object-fit: cover;
  }
  